extends template
block items
    - var title = 'Вставка CSS'
block content
    div.center-image
        div
            img(src="img/css1.jpg")
        div
            img(src="img/html.jpg")

    p.
        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        Text Text Text Text Text Text Text Text Text Text Text Text Text Text
    div.center-text
        div(class="texts color-lightGrey")
            p.
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        div.texts
            p.
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        div(class="texts color-white")
            p.
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text